.todo-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
    list-style: none;
}
.todo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.check-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid #BBE9FF;
    border-radius: 5px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.check-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo-check {
    color: #FFFED3;
}

.todo-check--active {
    color: #63E6BE;
}

.todo-p--complete {
    text-decoration: line-through;
}

.delete-container span {
    cursor: pointer;
}
.delete-container span:hover {
    color: #DA7297;
}