body {
  margin: 0;
  font-family: 'Playwrite PL', 'Sans serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFED3;
  position: relative;
}

body #root {
  min-height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
